############################################################ 
# Libraries for development
############################################################

# Flask is a microframework for Python based on Werkzeug, Jinja 2 and good intentions.
# Homepage: http://flask.pocoo.org/
flask==1.0.2

# Flask-SQLAlchemy is an extension for Flask that adds support for SQLAlchemy to your application.
# It requires SQLAlchemy 0.8 or higher.
# It aims to simplify using SQLAlchemy with Flask by providing useful defaults 
# and extra helpers that make it easier to accomplish common tasks.
# Homepage: http://flask-sqlalchemy.pocoo.org/2.3/
flask-sqlalchemy==2.3.2

# Flask-Migrate is an extension that handles SQLAlchemy database migrations
# for Flask applications using Alembic
# Homepage: https://flask-migrate.readthedocs.io/en/latest/
flask-migrate==2.2.1

# Flask-RESTful is an extension for Flask that adds support for quickly building REST APIs
# Homepage: https://flask-restful.readthedocs.io/en/latest/
flask-restful==0.3.6

# Flask-Bcrypt is a Flask extension that provides bcrypt hashing utilities for your application.
# Homepage: https://flask-bcrypt.readthedocs.io/en/latest/
flask-bcrypt==0.7.1

# Flask-JWT-Extended is a Flask extension that provides JSON Web Token utils.
# Homepage: https://flask-jwt-extended.readthedocs.io/
flask-jwt-extended==3.12.1

# Psycopg is the most popular PostgreSQL adapter for the Python programming language.
# At its core it fully implements the Python DB API 2.0 specifications.
# Homepage: http://initd.org/psycopg/
psycopg2==2.7.5

# Gunicorn 'Green Unicorn' is a Python WSGI HTTP Server for UNIX. It's used for heroku deployment.
# Homepage: https://gunicorn.org/
gunicorn==19.9.0

############################################################ 
# Libraries for GEOGIS
############################################################

# GeoAlchemy 2 provides extensions to SQLAlchemy for working with spatial databases.
# Homepage: https://geoalchemy-2.readthedocs.io/en/latest/
geoalchemy2==0.5.0


############################################################ 
# Libraries for unittest
############################################################

# pytest is a mature full-featured Python testing tool that helps you write better programs.
# Homepage: https://docs.pytest.org/en/latest/
pytest==3.8.2

# Coverage.py is a tool for measuring code coverage of Python programs.
# It monitors your program, noting which parts of the code have been executed,
# then analyzes the source to identify code that could have been executed but was not.
# Homepage: https://coverage.readthedocs.io/en/coverage-4.5.1x/
coverage==4.5.1

# Faker is a Python package that generates fake data for you.
# Homepage: https://github.com/joke2k/faker
Faker==0.9.1

# Use for test the HTTP status code
# Homepage: http://docs.python-requests.org/en/master/
requests==2.19.1
